<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjvqLIdFoBmiID0u4YVT8o4P5jPtCSN_c</string>
	<key>GCM_SENDER_ID</key>
	<string>435400540716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takeit</string>
	<key>PROJECT_ID</key>
	<string>takeit-today</string>
	<key>STORAGE_BUCKET</key>
	<string>takeit-today.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435400540716:ios:952dfe3c6c8e2f0c854789</string>
</dict>
</plist>